:root {
    --primary: #7fb9a8;
    --secondary: #eaf6f2;
    --dark: #1f2d2b;
    --light: #ffffff;
    --accent: #f2c9c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
    color: var(--dark);
}

/* ==============HEADER/NAV */
.header {
    background: var(--light);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    color: var(--primary);
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
}

/* ===========HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: var(--dark);
    margin: 4px 0;
    transition: .4s;
}

/* =============HERO-SECTION */
.hero {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url("https://plus.unsplash.com/premium_photo-1661596659937-14461048c037?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExOXx8fGVufDB8fHx8fA%3D%3D") center/cover;
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
}

.hero-content h2 {
    font-size: 2.5rem;
}


/* ================services */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section {
    padding: 4rem 1rem;
}


.alt {
    background: var(--secondary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}


/* ===============CARDS */
.card,
.product-card,
.price-card {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    transition: transform .3s;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 40vh;
}

.card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 60vh;
}

.product-card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.product-card .priceCart {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 5px;
}

.product-card .priceCart .add-to-cart {
    background: var(--primary);
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    color: var(--light);
}

.product-card .priceCart .add-to-cart:hover {
    background: teal;
}

.price-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.price-card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.card:hover,
.product-card:hover,
.price-card:hover {
    transform: translateY(-8px);
}

.featured {
    border: 2px solid var(--primary);
}

/* =====================product&card end */

/* ===============CONTACTFORM */
.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: 1rem;
}


.map iframe {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    margin-top: 2rem;
    border: 1px solid black;
}

input,
textarea {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input,
textarea,textarea:focus{
    border: 1px solid var(--primary);
    outline: none;
}

.whatsapp {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    color: green;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: 1px solid black;
}

.btn:hover{
    background: teal;
}

/* ========CART */
.cart-icon {
    position: fixed;
    top: 90px;
    right: 20px;
    background: var(--primary);
    color: white;
    padding: 10px 14px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 2000;
}

.cart-icon span {
    font-weight: bold;
    margin-left: 5px;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 20px rgba(0, 0, 0, .1);
    padding: 1.5rem;
    transition: .4s;
    z-index: 3000;
}

.cart.active {
    right: 0;
}

.cart h3 {
    margin-bottom: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.cart-item button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.cart-total {
    font-weight: bold;
    margin: 1rem 0;
}

.checkout-btn {
    width: 100%;
}

/* =========FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 1.5rem;
    gap: 3px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        background: var(--secondary);
        transition: .4s;
        padding-top: 5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav.active {
        right: 0;
    }

    .hamburger {
        display: flex;
    }
}